<div id="slider">

	<section class="slide" style="background-color:#e94437;">
		<div>
			<div class="vis" style="background-image:url();"></div>
			<h1>...</h1>
			<p><strong>...</strong></p>
			<p><b>...</b></p>
		</div>
	</section>
	
	<section class="slide" style="background-color:#b0a696;">
		<div>
			<div class="vis" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/710995/masques-theatre.png);"></div>
			<h1>Lorem Ipsum bla bla</h1>
			<p>Client : <strong>Agence d-iD-o!</strong></p>
			<p>Type de réalisation : <b>Site internet</b></p>
			<a href="http://www.google.fr">xxxxxxx</a>
		</div>
	</section>
	
	<section class="slide" style="background-color:#748d8d;">
		<div>
			<div class="vis" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/710995/ballons.png);"></div>
			<h1>Lorem Ipsum bla bla</h1>
			<p>Client : <strong>31 Emotions</strong></p>
			<p>Type de réalisation : <b>Site internet</b></p>
			<a href="http://www.google.fr">xxxxxxx</a>
		</div>
	</section>
	
	<section class="slide" style="background-color:#d5632a;">
		<div>
			<div class="vis" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/710995/tennis-woman-600.png);"></div>
			<h1>Lorem Ipsum bla bla</h1>
			<p>Client : <strong>Nouveau Monde DDB</strong></p>
			<p>Type de réalisation : <b>Site internet</b></p>
			<a href="http://www.google.fr">xxxxxxxxx</a>
		</div>
	</section>

	<section class="slide" style="background-color:#b1987b;">
		<div>
			<div class="vis" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/710995/vin.png);"></div>
			<h1>Lorem Ipsum bla bla</h1>
			<p>Client : <strong>7 une bonne idée</strong></p>
			<p>Type de réalisation : <b>Site internet</b></p>
			<a href="http://www.google.fr">xxxxxxxxxxxxx</a>
		</div>
	</section>
	
	<section class="slide" style="background-color:#ff6801;">
		<div>
			<div class="vis" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/710995/chaise.png);"></div>
			<h1>Lorem Ipsum bla bla</h1>
			<p>Client : <strong>Xanadu</strong></p>
			<p>Type de réalisation : <b>Site internet</b></p>
			<a href="http://www.google.fr">xxxxxxxxxx</a>
		</div>
	</section>
	


	<div id="slcontent">
		<div id="slprojet" class="line"><div><span>projet </span> <span class="scroll"></span></div></div>
		<div id="sltype" class="line"><div><span>type </span> <span class="scroll"></span></div></div>
		<div id="slclient" class="line"><div>xxx</div></div>		
		<div id="slcompteur"><div><b><span>0<br>0<br>0<br>0<br></span><span>0<br>0<br>0<br>0<br></span><span></span></b><i>000</i></div></div>
		<div id="slother" class="line"><div><span>Blabla </span> <span class="scroll">...<br>Lorem ipsum dolor sit amet consectetur adipiscing elit<br>Lorem Ipsum<br>Lorem Ipsum<br>Lorem Ipsum<br>Lorem Ipsum</span></div></div>
		<a href="" id="more" class="hide"><i></i><i></i><i></i><i></i></a>
	</div>
	
</div>
{% schema %}
  {
    "name": "Animation SLider",
    "settings": [],
     "presets": [
       {
         "name": "Animation SLider"
       }
     ]
  }
{% endschema %}