 <div class="custom-image"> 
         <img  src="{{ section.settings.image | image_url  }}" height="" width="">        
     </div>

{% schema %}
  {
    "name": "Custom Image",
    "settings": [
      {
      "type": "image_picker",
      "id": "image",
      "label": "Select Image"
    },
      {
  "type": "range",
  "id": "image-position",
  "min": 0,
  "max": 100,
  "step": 1,
  "unit": "px",
  "label": "Left-position",
  "default": 0
}
    ],
     "presets": [
     {"name": "Custom Image"}
    ]
  }
{% endschema %}