<section class="mains {% if section.settings.show_container %} page-width {% endif %}">
  <div class="multiple-items">   
   {% for block in section.blocks %}
     <div class="slide-image" style="width:350px; height:350px;"> 
         <img  src="{{ block.settings.image | image_url  }}" height="" width="">        
     </div>
    {% endfor %}
    
  </div>  
</section>


{% schema %}
  {
    "name": "Gallery",
    "settings": [ 
      {
  "type": "checkbox",
  "id": "show_container",
  "label": "Enable Container",
  "default": false
}
    ],
    "blocks":[
      
  {
    "name": "Image",
    "type": "slide",
    "settings": [
        {
      "type": "image_picker",
      "id": "image",
      "label": "Select Image"
    }
    ]
  }
    ],
    "presets": [
     {"name": "Gallery"}
    ]
  }
{% endschema %}

<script>
  $(document).ready(function(){  
$('.multiple-items').slick({
  infinite:true,
  slidesToShow: 5,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 0,
  speed: 5000,
  variableWidth:true,
  pauseOnHover:true,
 
  arrows:false,

    responsive: [
    {
      breakpoint: 1200,
      settings: {
        slidesToShow: 4,
        
      },
    },
    {
      breakpoint: 1008,
      settings: {
        slidesToShow: 3,       
      },
    },
    {
      breakpoint: 800,
     settings: {
        slidesToShow: 2,       
      }
    }
  ]
});
    });
</script> 