<section class="section_mains {% if section.settings.show_container %} page-width {% endif %}">
   <div class="main_image">   <img  src="{{ section.settings.collection.featured_image | image_url  }}" height="" width="">  </div>
  <div class="my_gallery">   
   {% for block in section.blocks %}
   
     <div class="gallery-image" style="width:350px; height:350px;"> 
         <img  src="{{ block.settings.collection1.featured_image | image_url  }}" height="" width=""> 
       <div> </div>
     </div>
      
    {% endfor %}
  </div>  
</section>


{% schema %}
  {
    "name": "Magazine-Gallery",
    "settings": [ 
      {
  "type": "checkbox",
  "id": "show_container",
  "label": "Enable Container",
  "default": false
},
    {
  "type": "collection",
  "id": "collection",
  "label": "Collection"
} 
    ],
    "blocks":[
      
  {
    "name": "Image",
    "type": "slide",
    "settings": [
        {
  "type": "collection",
  "id": "collection1",
  "label": "Collection"
} 
    ]
  }
    ],
    "presets": [
     {"name": "Magazine-Gallery"}
    ]
  }
{% endschema %}