<style>
          marquee {
            box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
            border: 1px solid rgba(0, 0, 0, .15);
            background-color: #ffffff;
            padding: 10px;
        }
</style>

<section class="section marquee-section">
<marquee class="page-width" direction="left" behavior="scroll" scrollamount="7">
        Welcome to Our Website! 🌟 Stay Updated with the Latest News and Offers. 📢 Check Back Often for More Updates!
    </marquee>
</section>

{% schema %}
  {
    "name": "Marquee Slider",
    "settings": [],
    "presets": [
    {
      "name": "Marquee Slider"
    }
  ]
  }
{% endschema %}