<style>
          marquee {
            padding: 10px;
        }
  .marquee-flex {
    display: flex;
}
</style>

<section class="section marquee-section">
<marquee class="page-width" direction="left" behavior="scroll" scrollamount="10">
  <div class="marquee-flex">
  {% for block in section.blocks %}
     <h5> {{ block.settings.text }} </h5>
     {% endfor %}
    </div>
    </marquee>
</section>

{% schema %}
  {
    "name": "Marquee Slider",
    "settings": [],
     "blocks":[
      
  {
    "name": "Text",
    "type": "slide",
    "settings": [
        {
      "type": "text",
      "id": "text",
      "label": "Add text",
       "default": "Welcome to Our Website! 🌟 Stay Updated with the Latest News and Offers. 📢 Check Back Often for More Updates!"
    }
    ]
  }
    ],
    "presets": [
    {
      "name": "Marquee Slider"
    }
  ]
  }
{% endschema %}