<style>
          marquee {
            padding: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
            border: 1px solid rgba(0, 0, 0, .15);
            background-color: #ffffff;

        }
  .marquee-flex {
    display: flex;
}
</style>


<marquee class="marquee-section" direction="left" behavior="scroll" scrollamount="10">
  <div class="marquee-flex">
  {% for block in section.blocks %}
     {{ block.settings.text }}
     {% endfor %}
    </div>
    </marquee>


{% schema %}
  {
    "name": "Marquee Slider",
    "settings": [],
     "blocks":[
      
  {
    "name": "Text",
    "type": "slide",
    "settings": [
        {
      "type": "richtext",
      "id": "text",
      "label": "Add text"
    }
    ]
  }
    ],
    "presets": [
    {
      "name": "Marquee Slider"
    }
  ]
  }
{% endschema %}