<style>
          /* marquee {
            padding: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
            border: 1px solid rgba(0, 0, 0, .15);
            background-color: #ffffff;

        }
  .marquee-flex {
    display: flex;
    white-space: nowrap;
    animation: var(--direction) var(--marquee-speed) linear infinite;
} */

 /* Container styles */
.scrolling-text-container {
    background-color: #eff5ff;
    border-radius: 4px;
    overflow: hidden;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}

/* Text styles */
.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}
</style>

{% comment %}
 <marquee class="marquee-section" style="--marquee-speed: 20s; --direction:scroll-left" direction="left" behavior="scroll" scrollamount="10">
  <div class="marquee-flex">
  {% for block in section.blocks %}
     {{ block.settings.text }}
     {% endfor %}
    </div>
    </marquee>{% endcomment %}

    <div class="scrolling-text-container">
    <div class="scrolling-text-inner" style="--marquee-speed: 20s; --direction:scroll-left" role="marquee">
        <div class="scrolling-text">
            <div class="scrolling-text-item">Your First Announcement</div>
            <div class="scrolling-text-item">Your Second Announcement</div>
            <!-- Add More Items Here -->
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Marquee Slider",
    "settings": [],
     "blocks":[
      
  {
    "name": "Text",
    "type": "slide",
    "settings": [
        {
      "type": "richtext",
      "id": "text",
      "label": "Add text"
    }
    ]
  }
    ],
    "presets": [
    {
      "name": "Marquee Slider"
    }
  ]
  }
{% endschema %}