<style>
          marquee {
            padding: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
            border: 1px solid rgba(0, 0, 0, .15);
            background-color: #ffffff;

        }
  .marquee-flex {
    display: flex;
    white-space: nowrap;   }

 .marquee-flex h3{ animation: var(--direction) var(--marquee-speed) linear infinite;}
</style>


 <marquee class="marquee-section" style="--marquee-speed: 20s; --direction:scroll-left" direction="left" behavior="scroll" scrollamount="10">
  <div class="marquee-flex">
  {% for block in section.blocks %}
   {% if block.settings.text != blank %}  {{ block.settings.text }} {% endif %}
   {% if block.settings.text != blank %}   <img  src="{{ block.settings.image | image_url  }}" height="" width="">   {% endif %}
     {% endfor %}
    </div>
    </marquee>
 

{% schema %}
  {
    "name": "Marquee Slider",
    "settings": [],
     "blocks":[
      
  {
    "name": "Text",
    "type": "slide",
    "settings": [
        {
      "type": "richtext",
      "id": "text",
      "label": "Add text"
    },
      {
      "type": "image_picker",
      "id": "image",
      "label": "Select Image"
    },
      {
  "type": "range",
  "id": "image-width",
  "min": 50,
  "max": 1000,
  "step": 10,
  "unit": "px",
  "label": "Image Width",
  "default": 500
},
      {
  "type": "range",
  "id": "image-height",
  "min": 50,
  "max": 1000,
  "step": 10,
  "unit": "px",
  "label": "Image Height",
  "default": 700
}
    ]
  }
    ],
    "presets": [
    {
      "name": "Marquee Slider"
    }
  ]
  }
{% endschema %}