<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">

{%  assign block.settings.product.title = product_title %}


<div class="single-item page-width">
   {% for block in section.blocks %}
 
  <div class="slide" title="0{{ forloop.index }}">
   <div class="image_1">  
       {% if block.settings.image_1 != blank %} <img  class="slide-image" src="{{ block.settings.image_1 | image_url  }}" height="350px" width="350px"> {% endif %}
   </div>
    <div class="image_2"> 
         {% if block.settings.image_2 != blank %} <img  class="slide-image" src="{{ block.settings.image_2 | image_url  }}" height="350px" width="350px"> {% endif %}
    </div>
    <div class="image_3"> 
       {% if block.settings.image_3 != blank %} <img  class="slide-image" src="{{ block.settings.image_3 | image_url  }}" height="350px" width="350px"> {% endif %}
    </div>
  </div>
    {% endfor %}
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.single-item').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
       dots: true,
      dotsClass: 'custom_paging',
     arrows: false,
      speed: 1000,
     autoplay: true,
      autoplaySpeed: 2000,      
    });
  });
</script>
{% schema %}
{
  "name": "Product Slider",
  "settings": [],
  "presets": [
    {
      "name": "Product Slider"
    }
  ],
   "blocks":[
      
  {
    "name": "Image",
    "type": "slide",
    "settings": [
      {
  "type": "product",
  "id": "product",
  "label": "Product"
}
     
    ]
  }
    ]
}
{% endschema %}
