<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<style>
  ul.slick-dots {
    display: inline-block !important;
}
 .single-item {
    display: flex;
    flex-direction: row-reverse;
   align-items: center;
    gap: 10%;
   
}
  ul.custom_paging {
    list-style: none;
}
</style>

<div class="single-item page-width">
  <div class="slide" title="slide1">your content1</div>
  <div class="slide" title="slide2">your content2</div>
  <div class="slide" title="slide3">your content3</div>
  <div class="slide" title="slide4">your content4</div>
  <div class="slide" title="slide5">your content5</div>
  <div class="slide" title="slide6">your content6</div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.single-item').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
       dots: true,
      dotsClass: 'custom_paging',
     arrows: false,
       autoplay: true,
       customPaging: function(slider, i) { 
        return '<button class="tab">' + $(slider.$slides[i]).attr('title') + '<i class="fa fa-sort-asc"></i></button>';
    },
       
    });
  });
</script>
{% schema %}
{
  "name": "Slick Slider",
  "settings": [],
  "presets": [
    {
      "name": "Slick Slider"
    }
  ]
}
{% endschema %}
