<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<style>
  ul.slick-dots {
    display: inline-block !important;
}
 .single-item {
    display: flex;
    flex-direction: row-reverse;
   align-items: center;
    gap: 10%;
   
}
  ul.custom_paging {
    list-style: none;
}
</style>

<div class="single-item page-width">
   {% for block in section.blocks %}
  <div class="slide" title="{{ forloop.index0 }} {{ block.settings.title-text }}">{{ block.settings.title-description }} </div>
    {% endfor %}
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.single-item').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
       dots: true,
      dotsClass: 'custom_paging',
     arrows: false,
       autoplay: true,
       customPaging: function(slider, i) { 
        return '<button class="tab">' + $(slider.$slides[i]).attr('title') + '</button>';
    },
       
    });
  });
</script>
{% schema %}
{
  "name": "Slick Slider",
  "settings": [],
  "presets": [
    {
      "name": "Slick Slider"
    }
  ]
}
{% endschema %}
