<section class="text-columns {% if section.settings.show_container %} page-width {% endif %}">

  <div class="">
   {% for block in section.blocks %}
    {% case block.type %}
     {%- when 'text' -%}
     {% endcase %}
    {% endfor %}
  </div>
</section>


{% schema %}
  {
    "name": "Text Columns",
    "settings": [ 
      {
  "type": "checkbox",
  "id": "show_container",
  "label": "Enable Container",
  "default": false
}  
    ],
    "blocks":[
      
  {
    "name": "text",
    "type": "slide",
    "settings": [
        
  {
  "type": "text",
  "id": "button-label",
  "label": "Button Label",
  "default": "SHOP NOW"
}
    ]
  }
    ],
    "presets": [
     {"name": "Text Columns"}
    ]
  }
{% endschema %}