<div class="textWithIcon">
   {% if section.settings.heading != blank %}
   <div class="Heading {{ section.settings.headingSize }}">{{ section.settings.heading }}</div>
     {% endif %}
  <div class="iconImage"></div>
  <div class="textWithIconTitle">
    
  </div>
    <div class="textWithIconSubTitle">
    
  </div>
</div>
{% schema %}
  {
    "name": "Text icon",
    "settings": [
      {
        "type": "text",
         "id" : "heading",
          "label": "Heading"
      },
      {
        "type": "inline_richtext",
         "id" : "subHeading",
         "label": "Sub Heading"
      },
      {
        "type" : "select",
         "id" : "headingSize",
          "options": [
        {
          "value": "fs-3",
          "label": "fs-3"
        },
        {
          "value": "fs-2",
          "label": "fs-2"
        },
        {
          "value": "fs-1",
          "label": "fs-1"
        }
      ],
      "default": "fs-1",
      "label": "Heading Size"
      }
    ],
    "blocks": [
      {
        "type" : "add_block",
         "name": "Block",
         "settings": [
           {
             "type": "image_picker",
              "id" : "iconImage",
               "label": "Icon Image"
           },
           {
             "type": "text",
              "id": "title",
               "label": "Title"
           },
           {
             "type": "inline_richtext",
              "id": "subTitle",
              "label": "Sub Title"
           },
           {
             "type": "richtext",
              "id": "description",
               "label": "Descrition"
           },
           {
             "type": "url",
              "id": "link",
              "label": "Link"
           }
         ]
      }
    ],
    "presets": [
      {
        "name" : "Text icon"
      }
    ]
  }
{% endschema %}