<div class="textWithIcon">
  <div class="iconImage"></div>
  <div class="textWithIconTitle">
    
  </div>
    <div class="textWithIconSubTitle">
    
  </div>
</div>
{% schema %}
  {
    "name": "Text icon",
    "settings": [],
    "presets": [
      {
        "name" : "Text icon"
      }
    ]
  }
{% endschema %}