<div class="textWithIcon">
  <div class="iconImage"></div>
  <div class="textWithIconTitle">
    
  </div>
    <div class="textWithIconSubTitle">
    
  </div>
</div>
{% schema %}
  {
    "name": "Text icon",
    "settings": [
      {
        "type": "text",
         "id" : "heading",
          "label": "Heading"
      },
      {
        "type": "inline_richtext",
         "id" : "subHeading",
         "label": "Sub Heading"
      }
    ],
    "blocks": [
      {
        "type" : "add_block",
         "name": "Block",
         "settings": [
           {
             "type": "image_picker",
              "id" : "iconImage",
               "label": "Icon Image"
           },
           {
             "type": "text",
              "id": "title",
               "label": "Title"
           },
           {
             "type": "inline_richtext",
              "id": "subTitle",
              "label": "Sub Title"
           },
           {
             "type": "richtext",
              "id": "description",
               "label": "Descrition"
           },
           {
             "type": "url",
              "id": "link",
              "label": "Link"
           }
         ]
      }
    ],
    "presets": [
      {
        "name" : "Text icon"
      }
    ]
  }
{% endschema %}