    <div class="main-div">
         {% if section.settings.image1 != blank %}
        <div class="inner-div" >
           
            <button>Button in Inner Div 1</button>
        </div>
           {% endif %}
        <div class="inner-div">
            <!-- Button for second inner div -->
            <button>Button in Inner Div 2</button>
        </div>
    </div>
{% schema %}
  {
    "name": "Two Image",
    "settings": [
      {
        "type":  "image_picker",
         "id" : "image1",
        "label": "Image"
      },
      {
        "type": "text",
         "id" : "title1",
         "label": "Title"
      },
      {
        "type": "text",
         "id": "button1",
          "label": "Button"
      },
      {
        "type": "url",
          "id": "link1",
         "label": "URL"
      },
       {
        "type":  "image_picker",
         "id" : "image2",
        "label": "Image"
      },
      {
        "type": "text",
         "id" : "title2",
         "label": "Title"
      },
      {
        "type": "text",
         "id": "button2",
          "label": "Button"
      },
      {
        "type": "url",
          "id": "link2",
         "label": "URL"
      }
    ]
  }
{% endschema %}