* {
  font-family: "Outfit", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
body,
h2 {
  font-family: "Outfit", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
.newsletter_text h2 {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 22px;
}
.newsletter_text {
  padding-left: 20px;
  margin-left: 20px;
}
.newsletter_text h2::before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 1px;
  height: 60px;
  margin-left: -20px;
}
.newsletter__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px !important;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__content-top {
  max-width: 1280px !important;
  margin: 0 auto !important;
  padding: 15px !important;
}
.footer {
  margin-top: 0 !important;
}
.newsletter__wrapper .icon_text svg {
  width: 30px !important;
}
.newsletter__wrapper .icon_text {
  align-items: center;
}
.newsletter-form__field-wrapper .field::after {
  display: none;
}
.field__input::placeholder,
.customer .field input::placeholder {
  opacity: 0.5 !important;
  font-family: outfit !important;
}
.newsletter-form__field-wrapper .field__label {
  display: none;
}
.newsletter-form__field-wrapper .field input[type="email"] {
  border-bottom: 2px solid #000;
  width: 500px;
  padding-left: 0px;
}
.newsletter-form__button {
  width: 8rem !important;
  font-family: outfit;
  font-size: 14px;
  color: #000 !important;
  text-transform: uppercase;
}
.field__input:focus-visible {
  box-shadow: none !important;
}
.slick-slide img {
  object-fit: cover;
  width: 350px;
  height: 350px;
  position: relative;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.footer__blocks-wrapper .footer-block.grid__item:nth-child(2),
.footer__blocks-wrapper .footer-block.grid__item:nth-child(3),
.footer__blocks-wrapper .footer-block.grid__item:last-child {
  padding-left: 170px;
}

.feature-section {
  width: 100%;
  max-width: 100%;
}

.footer__copyright {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

ul.policy-links {
  display: flex;
  align-items: baseline;
  gap: 20px;
  list-style: none;
}
ul.policy-links li a {
  color: #121212bf;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.copyright__content {
  font-size: 12px;
}

.footer__content-bottom-wrapper--center {
  padding: 10px !important;
  max-width: 1290px !important;
}

.footer__content-bottom {
  padding: 0 !important;
}

.copyright__content {
  font-size: 14px !important;
}
ul.policy-links li a:hover {
  text-decoration: none;
  color: #000 !important;
  text-decoration: none;
}

.icons-wrapper a.link.list-social__link {
  border: 1px solid #d2d2d2bf;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding: 7px !important;
}
.footer__list-social.list-social:only-child {
  justify-content: flex-start !important;
  padding: 0 !important;
  gap: 10px;
}
.list-social__item .icon {
  height: 20px;
  width: 20px;
}
.footer__copyright {
  text-align: center;
}
/* feature section css start  */
.image-with-text__media {
  display: none;
}

.feature-section {
  width: 100% !important;
  height: 100% !important;
  background-size: contain;
  color: #fff;
  background: left;
}
.feature-section h2 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}
.feature-section .image-with-text__text--caption {
  color: #fff;

  font-size: 20px;
  margin: 0 0 0;
}
.feature-section.page-width {
  max-width: 100%;
}
.feature-section .image-with-text__text p {
  color: #ffffffbf !important;
  font-size: 18px;
}
.feature-section
  .image-with-text__grid.grid.grid--gapless.grid--1-col.grid--2-col-tablet.image-with-text__grid--reverse {
  max-width: 1280px !important;
  width: 1280px !important;
  margin: auto;
}
.feature-section .iconsBlock {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 30px;
}
.feature-section .iconsBlock .icon1,
.feature-section .iconsBlock .icon2 {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ffffffbf !important;
}
.feature-section .iconsBlock .icon1 img,
.feature-section .iconsBlock .icon2 img {
  filter: invert(1);
}

.imageBg {
  background: #ad8565;
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* feature section css ended  */
@media screen and (min-width: 750px) {
  .section-sections--22093648888119__footer-padding {
    padding-bottom: 0 !important;
  }
  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    text-decoration: none !important;
  }
}

@media screen and (max-width: 1140px) {
  .footer__blocks-wrapper .footer-block.grid__item:nth-child(2),
  .footer__blocks-wrapper .footer-block.grid__item:nth-child(3),
  .footer__blocks-wrapper .footer-block.grid__item:last-child {
    padding-left: 100px;
  }
}

@media screen and (max-width: 991px) {
  .footer-block.grid__item {
    width: 23%;
  }
  .footer__blocks-wrapper .footer-block.grid__item:nth-child(2),
  .footer__blocks-wrapper .footer-block.grid__item:nth-child(3),
  .footer__blocks-wrapper .footer-block.grid__item:last-child {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer-block.grid__item {
    width: 48%;
  }
}

@media screen and (max-width: 749px) {
  .footer .grid {
    display: flex important;
    margin: 10px !important;
  }
}
